#title {

  background: rgba(217, 217, 217, 0.6);
  text-align: center;
  width: 92%;
}
#row {
  display: flex;
}
#image {
  background: rgba(217, 217, 217, 0.6);
}
#image_container {
  background: rgba(217, 217, 217, 0.6);
  width: 4%;
  padding-top: 0.5%;
  padding-left: 1%;
}
#login_icon {

  background: rgba(217, 217, 217, 0.6);
  width: 4%;
  padding-top: 0.5%;
  padding-left: 2%;
}
