#button1, #button2, #button3 {
  width: 80%;
  margin-left: 10%;
  padding-bottom: 3%;
  padding-top: 3%;
  background: #1C365E;
  border-radius: 5px;
  margin-bottom: 5%;
}
#title {
  text-align: center;
}
#rightblock {
  margin-top: 10%;
}
