/*#main-holder {*/
/*  width: 50%;*/
/*  height: 70%;*/
/*  display: grid;*/
/*  justify-items: center;*/
/*  align-items: center;*/
/*  background: rgba(217, 217, 217, 0.8);*/
/*  border-radius: 5px;*/
/*  box-shadow: 0px 0px 5px 2px black;*/
/*}*/

#btn{
  background-color: rgba(217, 217, 217, 0.0);
  border: none;
  font-style: italic;
  text-decoration-line: underline;
  color: #1C365E;
  font-weight: bold;
}
.register{
background-color: rgba(217, 217, 217, 0.6);
  width: 30%;
  height: 40%;
margin-left: 35%;
  margin-top: 7%;
  border-radius: 5px;
  box-shadow: 5px 5px 6px 6px grey;
}
img{
  margin-top: 3%;
  width: 90px;
  height: 110px;
}
.icon{
  text-align: center;
}
#username, #password{
  padding: 1%;
  width: 60%;
  /*top right bottom left*/
  margin: 2% 20% 0% 20%;
}
#login, #btn{
  margin-top: 4%
}
#login{
  margin-left: 30%;
  padding-right: 10%;
  padding-left: 10%;
}

