#main {
  //background-color: rgb(110, 243, 188);
  padding: 1%;
  height: 624px;




}

#row {
  display: flex;
}
#left {
  float: left;
  position: absolute;
  width: 30%;
  height: 600px;
  left: 2%;
  border-radius: 5px;

}
#center {
  position: absolute;
  width: 30%;
  height: 600px;
  left: 35%;
  border-radius: 5px;
}

#right {
  position: absolute;
  width: 30%;
  height: 600px;
  left: 68%;
  border-radius: 5px;
  }
