#header{
  margin-bottom: 40px;
}
#main {
  padding: 0%;
  height: 95.8vh;
}

#row {
  display: flex;
}
#left {
  float: left;
  position: absolute;
  width: 30%;
  height: 80vh;
  left: 2%;
  border-radius: 5px;

}
#center {
  position: absolute;
  width: 30%;
  height: 80vh;
  left: 35%;
  border-radius: 5px;
}

#right {
  position: absolute;
  width: 30%;
  height: 80vh;
  left: 68%;
  border-radius: 5px;
  }

#left, #center, #right{
  box-shadow: 1px 1px 3px 2px dimgray;
}
